<div
  class="w3-container w3-content w3-padding-64"
  style="max-width: 800px;"
  id="contact"
>
  <h2 class="w3-wide w3-center">TODAY I LIKE</h2>
  <p class="w3-opacity w3-center"><i>tell us what you like.</i></p>
  <div class="w3-row w3-padding-32">
    <div class="w3-col m6 w3-large w3-margin-bottom" style="margin-top: 10px;">   
      <form action="/" method="POST" target="_blank">
        <div class="w3-row-padding" style="margin: 0 0 0 -10px;">
          <h1>my name is</h1>
          <input class="w3-input w3-border" type="text" placeholder="Name" required name="name" />
          <h1>today i like</h1>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="message" />
          <button class="w3-button w3-white w3-section" type="submit" name="submit">
            SEND
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
