<!-- The Contact Section -->
<div
  class="w3-container w3-content w3-padding-64"
  style="max-width: 800px;"
  id="contact"
>
  <h2 class="w3-wide w3-center">CONTACT SUCCESFULL</h2>
  <p class="w3-opacity w3-center"><i>We got your message</i></p>
  <div class="w3-row w3-center" style="font-size: large;">
    <br /><br /><br />THANKS YOU<br />
  </div>
</div>
