body {
  background-color: black;
  color: white;
}

.boxi {
  width: 500px;
  float: left;
}

table {
  text-align: left;
  font-size: medium;
}

.flashSuccess {
  background: rgba(103, 120, 209, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  top: 220px;
}

.flashError {
  background: rgba(212, 91, 91, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  top: 180px;
}
