body {
  background-color: black;
  color: white;
}

.boxi {
  width: 500px;
  float: left;
}

table {
  text-align: left;
  font-size: medium;
}

.flashSuccess {
  background: rgba(103, 120, 209, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  bottom: 0px;
}

.flashError {
  background: rgba(212, 91, 91, 0.7);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 30px;
  position: absolute;
  bottom: 0px;
}


.login-status {
  z-index: 999;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

.log-out {
  z-index: 998;
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.login-status .bubble {
  z-index: 997;
  padding: 10px;
  color: black;
  background: white;
  border-radius: 20px;
}

@media (max-width: 760px) {
  .login-status .bubble {
    top: 20px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2vw;
  }
}


.modal-dialog {
  background: white;
  border-radius: 15px;
  color: black;
}

.modal-title {
  padding-top: 30px;
  padding-top: 30px;
  font-size: 30px;
  font-family: "Baloo Bhaina";
  color: #625956;
  font-weight: 100;
  color: black;
}

.like-title {
  font-family: "Baloo Bhaina";
  padding: 0 5px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  float: left;
}

.like-description {
  padding: 10px 10px 20px 10px;
  text-align: left;
  margin: 0 10px;
  clear: left;
}

.like-title::before {
  background-image: url("../images/icon.png");
  background-size: 20px 40px;
  display: inline-block;
  width: 20px;
  height: 40px;
  content: "";
}

.like-cost {
  display: inline-block;
  position: absolute;
  right: 35px;
  margin-top: 60px;
  font-family: "Baloo Bhaina";
  font-size: 18px;
}

.modal-body {
  padding: 15px 30px;
}

.join-button {
  position: absolute;
  right: 35px;
  margin-top: 30px;
  border: 1px solid;
}

.joined-button {
  position: absolute;
  right: 35px;
  margin-top: 30px;
  background-color: #c1ffc1;
  color: #625956;
  border: 1px solid;
}

