<div
  class="w3-container w3-content w3-padding-64"
  style="max-width: 800px;"
  id="contact"
>
  <h2 class="w3-wide w3-center">SUBSCRIBERS</h2>
  <p class="w3-opacity w3-center"><i>We got some subs</i></p>
  <div class="w3-row w3-center" style="font-size: large;">
    <br /><br /><br />
    <h1>our subscribers</h1>
    <% subscribers.forEach(subs => { %>
    <h5 style="border-top: 0.5px solid #fff; margin: 15px; padding-top: 20px;">
      <%=subs.name %> from <%=subs.zipCode %> email <%=subs.email %>
    </h5>
    <% }); %>
  </div>
</div>
