<div class="w3-container w3-content w3-padding-64" style="max-width: 800px;">
  <h2 class="w3-wide w3-center">LIKE TABLE</h2>
  <p class="w3-opacity w3-center"><i>like page</i></p>

  <div class="w3-row w3-center" style="font-size: large;">
    <br /><br /><br />
    <h1>Like Data for <%= like.name %></h1>
    <div>
      <br />
      <h4>Name: <%= like.name %></h4>
    </div>
    <br /><br />
    <div>
      <a href="/likes">View all likes</a>
    </div>
    <div>
      <a href="<%=`/likes/${like._id}/edit`%>">
        Edit User Details
      </a>
    </div>
    <div>
      <a
        href="<%= `/likes/${like._id}/delete?_method=DELETE` %>"
        onclick="return confirm('Are you sure you want to delete this record?')"
        >Delete</a
      >
    </div>
  </div>
</div>
