<!-- The new user Section -->
<div
  class="w3-container w3-content w3-padding-64"
  style="max-width: 800px;"
  id="login"
>
  <h2 class="w3-wide w3-center">USER LOGIN</h2>
  <p class="w3-opacity w3-center"><i>login your account:</i></p>
  <div class="w3-row w3-padding-32">
    <div class="w3-col m6" style="width: 100%;">
      <form action="/users/login" method="POST">
        <div class="w3-row-padding" style="margin: 0 -16px 8px -16px;">
          <div class="w3-center">
            <label for="inputEmail">Email address</label>
            <input class="w3-input w3-border" type="email"" name="email""
            id="inputEmail" placeholder="E-Mail" autofocus required />

            <label for="inputPassword">Password</label>
            <input
              class="w3-input w3-border"
              type="password"
              name="password"
              id="inputPassword"
              placeholder="Password"
              required
            />
          </div>
        </div>
        <button class="w3-button w3-white w3-section w3-right" type="submit">
          LOGIN
        </button>
      </form>
    </div>
  </div>
</div>
